.slider-mask {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}

.overflow--hidden {
    overflow: hidden;
}

.slider {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 100vmin;
    max-width: 640px;
    padding: 0 20px;
    transform: translate(-50%, -50%);
}

.slider__viewier-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125vmin;
    margin-bottom: 10px;
}

.slider__viewier-window.full--transparent {
    opacity: 0;
}

.slider__image-container {
    position: relative;
    max-height: 100%;
}

.slider__image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #000000;
}

.slider--close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 42px;
    height: 42px;
    background-color: rgba(106, 106, 106, 0.5);
    border-radius: 50%;
    transition: .25s;
}

.slider--close::before,
.slider--close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transition: .25s;
}

.slider--close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.slider--close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.slider--close:focus {
    background-color: #8b008b;
}

.slide-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'PT Sans', 'Helvetiсa', 'Arial', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
    color: #ffffff;
    transform: translateY(100%);
}

.slider__button-bar {
    display: flex;
}

.slider__button-bar.full--hidden {
    display: none;
}

.slider__button {
    position: relative;
    width: 36px;
    height: 36px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: rgba(139, 0, 139, 0.5);
    background-repeat: no-repeat;
    transition: .25s;
    transform: scale(1);
}

.button--back {
    background-image: url("../../img/icons/slider-btn-back-bg.svg");
    background-position: 10px 50%;
}

.button--forward {
    margin-left: auto;
    background-image: url("../../img/icons/slider-btn-forward-bg.svg");
    background-position: 13px 50%;
}

.slider__button:focus {
    background-color: #8b008b;
}

.slider__button:active {
    transform: scale(0.9);
}

.button--disabled,
.button--disabled:focus {
    background-color: rgba(209, 142, 209, 0.5);
}

.button--disabled:active {
    transform: scale(1);
}

@media screen and (min-width: 480px) {
    .slider {
        width: 100vw;
        padding: 0 70px;
    }

    .slider__viewier-window {
        height: auto;
        margin-bottom: 0;
    }

    .slider__image {
        max-height: calc(100vh - 60px);
    }

    .slide-title {
        font-size: 2.4rem;
    }

    .slider__button-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .button--back {
        margin-left: 10px;
    }

    .button--forward {
        margin-right: 10px;
    }
}

@media screen and (min-width: 660px) {

    .button--back {
        margin-left: 0;
    }

    .button--forward {
        margin-right: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    .slider--close:hover {
        background-color: #8b008b;
    }

    .slider__button:hover {
        background-color: #8b008b;
    }

    .button--disabled:hover {
        background-color: rgba(209, 142, 209, 0.5);
    }
}