@import url("../components/slider/slider.css");

.preview-toolbar-container {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 0 10px;
}

.filter {
    align-self: center;
    width: 120px;
}

.filter-categories, .preview-category-button {
    font-family: inherit;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-categories {
    position: relative;
}

.filter-categories__list {
    position: absolute;
    z-index: 1;
    top: calc(100% + 15px);
    left: -10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50vw;
    max-width: 560px;
    padding: 10px;
    background-color: rgba(52, 73, 94, 0.8);
    border-radius: 5px;
}

.filter-categories__item {
    flex-grow: 1;
    text-align: center;
}

.preview-category-button {
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;
}

.preview-modes {
    width: 50%;
    max-width: 250px;
}

.preview-modes__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.preview-modes__item:last-child {
    margin-left: auto;
}

.preview-modes__button {
    position: relative;
    display: block;
    width: 48px;
    height: 36px;
    background-color: #34495e;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .25s;
}

.preview-modes__button:hover {
    background-color: #5aace8;
}

.layout--set {
    background-image: url("../img/icons/tile-layout-btn-bg.svg");
    --set-opacity: 0;
}

.layout--set::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: #34495e;
    background-image: url("../img/icons/row-layout-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: var(--set-opacity);
    transition: opacity .25s;
}

.layout--set:hover::before {
    background-color: #5aace8;
}

.slider--set {
    background-image: url("../img/icons/slider-set-btn-bg.svg");
}

.preview__list {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    padding: 20px;
    background-color: antiquewhite;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.preview__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.preview__list--tile-layout {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    padding: 15px;
}

.preview__item {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 120px;
}

.preview__list--tile-layout .preview__item {
    grid-row: auto;
    -ms-grid-column-align: center;
    justify-self: center;
}

.preview__item.full-hidden {
    display: none;
}

.preview__image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-shadow: 0 0 6px -2px #000000;
}

/* @media screen and (min-width: 767px) {
    .preview-modes {
        width: 260px;
    }
} */