@import url("../components/slider/slider.css");

.novelties {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.novelties__title,
.preview__title {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

.novelties__list {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.novelty {
    align-self: flex-start;
    display: grid;
    grid-template-columns: minmax(120px, 1fr) minmax(-webkit-min-content, -webkit-max-content);
    grid-template-columns: minmax(120px, 1fr) minmax(min-content, max-content);
    grid-template-areas: "image title"
        "image footer";
    margin-bottom: 60px;
}

.novelty:nth-child(2n) {
    align-self: flex-end;
    grid-template-columns: minmax(-webkit-min-content, -webkit-max-content) minmax(120px, 1fr);
    grid-template-columns: minmax(min-content, max-content) minmax(120px, 1fr);
    grid-template-areas: "title image"
        "footer image";
}

.novelty:last-child {
    margin-bottom: 0;
}

.novelty * {
    margin: 0;
}

.novelty__title {
    grid-area: title;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: clamp(1.6rem, 1rem + 2vw, 2.4rem);
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.novelty__image {
    grid-area: image;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.novelty__footer {
    grid-area: footer;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    font-size: clamp(1.6rem, 1rem + 2vw, 2rem);
    font-style: italic;
    padding: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.novelty:nth-child(2n) .novelty__title,
.novelty:nth-child(2n) .novelty__footer {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
}

.novelty:nth-child(2n) .novelty__title {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.preview__toolbar-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.filter {
    width: 140px;
}

.filter-categories {
    position: relative;
}

.filter-categories__summary,
.filter-categories__button {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.filter-categories__summary {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.filter-categories__summary::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 20px;
    background-image: url("../img/icons/drop-down-elem-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.filter-categories__list {
    position: absolute;
    z-index: 1;
    top: calc(100% + 15px);
    left: -10px;
    width: 180px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: .5rem;
    box-shadow: 0 0 5px -1px #000000;
}

.filter-categories__item {
    text-align: center;
    margin-bottom: 10px;
}

.filter-categories__item:last-child {
    margin-bottom: 0;
}

.filter-categories__button {
    position: relative;
    display: inline-block;
    line-height: 1.2;
    padding: .5rem 1rem;
}

.filter-categories__button::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 1rem;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width .4s linear;
}

.filter-categories__button:focus::after {
    width: calc(100% - 2rem);
}

.view-settings {
    position: relative;
}

.view-settings__list-container {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    padding: 5px;
    overflow: hidden;
}

.view-settings__list {
    width: max-content;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    background-color: #ffffff;
    border-radius: .5rem;
    box-shadow: 0 0 5px -1px #000000;
    transform: translateY(calc(-100% - 10px));
    transition: transform .25s linear;
}

.view-settings__list--showed {
    transform: translateY(0);
}

.view-settings__item {
    margin-bottom: .5em;
}

.view-settings__button {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.set-display-mode {
    font-size: inherit;
    padding: .5em;
    text-transform: uppercase;
}

.set-display-mode::after {
    content: "";
    position: absolute;
    top: 100%;
    left: .5em;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width .4s linear;
}

.set-display-mode:focus::after {
    width: calc(100% - 1em);
}

.settings-button {
    width: 48px;
    height: 48px;
    background-image: url("../img/icons/preview-settings-btn-bg.svg");
    background-color: #263647;
    border-radius: 50%;
}

.preview__thumbnails-container {
    position: relative;
    overflow: hidden;
}

.preview__thumbnails-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    -webkit-box-align: center;
    align-items: center;
    min-height: 256px;
    cursor: all-scroll;
    transition: transform .4s ease-in-out;
}

.column--layout {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    padding: 10px;
    cursor: auto;
}

.preview__thumbnails-item {
    position: relative;
    grid-row: 1 / 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 120px;
    padding: 20px;
}

.column--layout .preview__thumbnails-item {
    grid-row: auto;
    justify-self: center;
    padding: 10px;
}

.preview__thumbnails-item.full--hidden {
    display: none;
}

.preview__thumbnail {
    flex-shrink: 0;
}

.magnifying-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    height: calc(100% - 40px);
    background-color: rgba(7, 87, 145, 0.5);
    background-image: url("../img/icons/magnifying-btn-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
}

.magnifying-button:focus {
    opacity: 1;
}

.column--layout .magnifying-button {
    height: calc(100% - 20px);
}

.animated--tooltip {
    -webkit-animation-name: tooltip;
    animation-name: tooltip;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes tooltip {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
    }

    20% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    80% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1.2);
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
    }
}

@keyframes tooltip {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
    }

    20% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }

    80% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1.2);
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
    }
}

@media screen and (min-width: 700px) {
    .filter-categories__list {
        left: 50%;
        width: 200px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media (hover: hover) and (pointer: fine) {
    .set-display-mode:hover::after {
        width: calc(100% - 1em);
    }

    .preview__thumbnails-item:hover .magnifying-button {
        opacity: 1;
    }
}