@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), local('PTSans-Italic'), url('../fonts/ptsansitalic.woff2') format('woff2'), url('../fonts/ptsansitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

html {
    font-size: 10px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

dl, dd {
    margin: 0;
}

figure {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: content-box;
    font-family: inherit;
    padding: 0;
    color: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
}

a:focus, button:focus {
    outline: none;
}

label {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

details {
    outline: none;
}

summary {
    list-style-type: none;
    font-family: inherit;
    color: inherit;
    outline: none;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.page-body {
    margin: 0;
    font-family: 'PT Sans', 'Helvetiсa', 'Arial', sans-serif;
    line-height: 1.2;
    color: #ffffff;
    background-color: #34495e;
}

.page-header {
    position: relative;
    margin-bottom: 20px;
    background-color: #34495e;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    display: block;
    width: 100px;
    margin-right: 20px;
}

.logo img {
    display: inline-block;
    vertical-align: bottom;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    background-color: #34495e;
}

.navigation__item {
    margin-bottom: 10px;
}

.navigation__link {
    position: relative;
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
}

.navigation__link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: calc(100% - 40px);
    height: 2px;
    background-color: transparent;
    transform: translate(-50%, -10px);
    transition: background-color .4s;
}

.navigation__link.current::after {
    background-color: #ffffff;
}

.navigation__list--toggler {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transform: translateY(-50%);
    transition: border-color .4s ease;
}

.navigation__list--toggler::before, .navigation__list--toggler::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 2px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    transition: transform .4s ease;
}

.navigation__list--toggler::before {
    box-shadow: 0 -8px 0 0 #ffffff,
        0 8px 0 0 #ffffff;
}

.navigation__list--toggler.toggler--on {
    border-color: transparent;
}

.navigation__list--toggler.toggler--on::before {
    transform: translate(-50%, -50%) rotate(45deg);
    box-shadow: 0 -8px 0 0 transparent,
        0 8px 0 0 transparent;
}

.navigation__list--toggler.toggler--on::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.page-main {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .navigation__list--wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100vw;
        overflow: hidden;
    }

    .navigation__list {
        position: relative;
        z-index: 2;
        align-items: center;
        transition: transform .4s ease;
    }
}

@media screen and (max-width: 500px) {
    .navigation__list {
        transform: translateX(100%);
    }

    .navigation__list.navigation__list--showed {
        transform: translateX(0);
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .navigation__list {
        transform: translateY(-100%);
    }

    .navigation__list.navigation__list--showed {
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .navigation__list--toggler {
        display: none;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding-left: 20px;
    }

    .navigation__list--wrapper {
        flex-grow: 1;
        max-width: 1440px;
    }

    .navigation__list {
        flex-direction: row;
        justify-content: space-around;
    }

    .navigation__item {
        margin-bottom: 0;
    }
}

@media (hover: hover) and (pointer: fine) {
    .navigation__link:hover::after {
        background-color: #ffffff;
    }
}